:root {
  --white: #fff;
  --lightblue: #2c7898; 
  --logo_blue: #207C9D; 
  --mediumblue: ##67a5ba;
  --darkblue: #184a5e;
  --logo_yellow: #F0BD1D;
  --warningred: #b13326;
  --404teal: #54c0b3;
  --signinwhite: #f5f5f2;
  --lignitemgrey: #edede5;

  --fmed_grey: #818181;
  --flite_grey: #cfcfc7;
} 

* {
  margin: 0;
  padding: 0;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

/* h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
} */
.button-gold {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  background-color: var(--logo_yellow);
  border: none;
  font-family: Lato;
  color: var(--white);
  font-size: 1.25rem;
  border-radius: 3px;
}